<%- include("partials/header"); -%>
    <!-- all products -->
    <div class="products">
        <h1 class="center">All Available Products</h1>
        <div class="productBoxes">
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f6.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Kiran</p>
                        <p class="productName">Advanced casio</p>
                        <p class="stars">⭐⭐⭐⭐⭐</p>
                        <p class="price"><span>₹100</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f1.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Tharun</p>
                        <p class="productName">Drafter</p>
                        <p class="stars">⭐⭐⭐⭐⭐</p>
                        <p class="price"><span>₹200</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f5.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Teja</p>
                        <p class="productName">C in Depth book</p>
                        <p class="stars">⭐⭐⭐⭐</p>
                        <p class="price"><span>₹20</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f3.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Ganesh</p>
                        <p class="productName">Kettle</p>
                        <p class="stars">⭐⭐⭐⭐⭐</p>
                        <p class="price"><span>₹10</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f1.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Kiran</p>
                        <p class="productName">Advanced casio</p>
                        <p class="stars">⭐⭐⭐⭐⭐</p>
                        <p class="price"><span>₹100</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f3.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Kiran</p>
                        <p class="productName">Advanced casio</p>
                        <p class="stars">⭐⭐⭐⭐⭐</p>
                        <p class="price"><span>₹100</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f1.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Kiran</p>
                        <p class="productName">Advanced casio</p>
                        <p class="stars">⭐⭐⭐⭐⭐</p>
                        <p class="price"><span>₹100</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f6.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Kiran</p>
                        <p class="productName">Advanced casio</p>
                        <p class="stars">⭐⭐⭐⭐⭐</p>
                        <p class="price"><span>₹100</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f4.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Kiran</p>
                        <p class="productName">Advanced casio</p>
                        <p class="stars">⭐⭐⭐⭐⭐</p>
                        <p class="price"><span>₹100</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="topBox">
                    <a href="product"><img src="..//images/img/products/f2.jpg" alt=""></a>
                    
                </div>
                <div class="bottomBox">
                    <div class="left">
                        <p class="owner">Kiran</p>
                        <p class="productName">Advanced casio</p>
                        <p class="stars">⭐⭐⭐⭐⭐</p>
                        <p class="price"><span>₹100</span> per day.</p>
                    </div>
                    <div class="right">
                        <div class="cartButton">
                            <a href="product"><i class="fa-solid fa-cart-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        
    </div>
    <!-- all products -->



    
</body>
</html>